<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utility.FailureRetryListener"/>
</listeners>
  <test name="Test1">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="TestCase.hospitalName"/>
      </classes>
  </test> <!-- Test -->
  
   <test  name="Test2">
<parameter name="browser" value="chrome"></parameter>
 
    <classes>
      <class name="TestCase.diagnostics"/>
    </classes>
    </test>
    
   <test  name="Test3">
<parameter name="browser" value="chrome"></parameter>
 
    <classes>
       <class name="TestCase.errorPage"/>
    </classes>
    
  </test>
</suite> <!-- Suite -->
